In [6]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\dell\anaconda3\lib\site-packages (22.3.1)
Collecting pip
  Downloading pip-23.1.2-py3-none-any.whl (2.1 MB)
     ---------------------------------------- 2.1/2.1 MB 7.7 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 22.3.1
    Uninstalling pip-22.3.1:
      Successfully uninstalled pip-22.3.1
Successfully installed pip-23.1.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
  
Order_Details = pd.read_csv('C:\July-2023-PGP BIg Data & Machine Learning-Great Learning\Project Practice\Order_details(masked).csv')

In [10]:
len(Order_Details)

581

In [11]:
Order_Details.shape

(581, 4)

In [12]:
Order_Details.head()

,Name,Email,Product,Transaction Date
0,PERSON_1,PERSON_1@gmail.com,PRODUCT_75,01/03/2021 00:47:26
1,PERSON_2,PERSON_2@tataprojects.com,PRODUCT_75,01/03/2021 02:04:07
2,PERSON_3,PERSON_3@gmail.com,PRODUCT_63,01/03/2021 09:10:43
3,PERSON_4,PERSON_4@gmail.com,PRODUCT_63,01/03/2021 09:49:48
4,PERSON_5,PERSON_5@gmail.com,"PRODUCT_34,PRODUCT_86,PRODUCT_57,PRODUCT_89",01/03/2021 10:56:46

In [13]:
Order_Details.tail()

,Name,Email,Product,Transaction Date
576,PERSON_522,PERSON_522@gmail.com,"PRODUCT_48,PRODUCT_80,PRODUCT_71,PRODUCT_68,PR...",07/03/2021 23:53:03
577,PERSON_523,PERSON_523@gmail.com,PRODUCT_8,07/03/2021 23:55:01
578,PERSON_523,PERSON_523@gmail.com,"PRODUCT_36,PRODUCT_14,PRODUCT_64,PRODUCT_28,PR...",07/03/2021 23:58:24
579,PERSON_524,PERSON_524@gmail.com,"PRODUCT_75,PRODUCT_71,PRODUCT_86,PRODUCT_63,PR...",07/03/2021 23:59:26
580,PERSON_525,PERSON_525@gmail.com,"PRODUCT_66,PRODUCT_34",07/03/2021 23:59:19

In [14]:
Order_Details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 581 entries, 0 to 580
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              581 non-null    object
 1   Email             581 non-null    object
 2   Product           581 non-null    object
 3   Transaction Date  581 non-null    object
dtypes: object(4)
memory usage: 18.3+ KB

In [15]:
Order_Details.describe()

              Name                 Email     Product     Transaction Date
count          581                   581         581                  581
unique         525                   525         252                  581
top     PERSON_470  PERSON_470@gmail.com  PRODUCT_75  01/03/2021 00:47:26
freq             5                     5          74                    1

In [16]:
import numpy as np
Order_Details.describe(include=object)

              Name                 Email     Product     Transaction Date
count          581                   581         581                  581
unique         525                   525         252                  581
top     PERSON_470  PERSON_470@gmail.com  PRODUCT_75  01/03/2021 00:47:26
freq             5                     5          74                    1

In [18]:
Order_Details["Name"].value_counts()

PERSON_470    5
PERSON_330    4
PERSON_75     3
PERSON_156    3
PERSON_290    3
             ..
PERSON_187    1
PERSON_186    1
PERSON_185    1
PERSON_184    1
PERSON_525    1
Name: Name, Length: 525, dtype: int64

In [19]:
Order_Details["Product"].value_counts()

PRODUCT_75                                                74
PRODUCT_63                                                46
PRODUCT_25                                                31
PRODUCT_74                                                28
PRODUCT_27                                                23
                                                          ..
PRODUCT_37,PRODUCT_2,PRODUCT_25                            1
PRODUCT_60,PRODUCT_38,PRODUCT_69,PRODUCT_80,PRODUCT_54     1
PRODUCT_75,PRODUCT_26,PRODUCT_79                           1
PRODUCT_25,PRODUCT_64,PRODUCT_8                            1
PRODUCT_66,PRODUCT_34                                      1
Name: Product, Length: 252, dtype: int64